<h1>Top</h1>
<div class="container">
    <div class="main">
        <%= form_with model: @post, url: p_create_path, class: :form_container do |f| %>
          <%= f.text_area :content %>
          <%= f.submit "投稿" %>
        <% end %>
        <div class="posts">
            <div class="posts_content">
                <% @ps.each do |p| %>
                    <p><%= p.content %></p>
                <% end %>
            </div>
        </div>
    </div>
</div>